/* CSS Resets */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}


/* ===================================================================================================================================================================================================== */
/* ! Based on The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com - Modified to work with Fusion by Mike Hoffman PXLR http://www.pxlr.com   */
/* ===================================================================================================================================================================================================== */

.container {
padding-left: 20px;
padding-right: 20px;
}

.full-width > div {
width: 100%;
max-width: 1140px;
min-width: 755px;
margin: 0 auto;
overflow: hidden;
}

.grid12-1, .grid12-2, .grid12-3, .grid12-4, .grid12-5, .grid12-6, .grid12-7, .grid12-8, .grid12-9, .grid12-10, .grid12-11 {
margin: 0;
float: left;
min-height: 1px;
}

.full-width > div .region.grid12-1 {
width: 6.75%;
}

.full-width > div .region.grid12-2 {
width: 15.35%;
}

.full-width > div .region.grid12-3 {
width: 23.95%;
}

.full-width > div .region.grid12-4 {
width: 32.65%;
}

.full-width > div .region.grid12-5 {
width: 41.35%;
}

.full-width > div .region.grid12-6 {
width: 49.9%;
}

.full-width > div .region.grid12-7 {
width: 58.65%;
}

.full-width > div .region.grid12-8 {
width: 67.3%;
}

.full-width > div .region.grid12-9 {
width: 75.95%;
}

.full-width > div .region.grid12-10 {
width: 84.6%;
}

.full-width > div .region.grid12-11 {
width: 93.25%;
}

.full-width > div .region.grid12-12 {
width: 100%;
float: left;
}

.full-width > div .region.grid12-1 > .inner, .full-width > div .region.grid12-2 > .inner, .full-width > div .region.grid12-3 > .inner, .full-width > div .region.grid12-4 > .inner, .full-width > div .region.grid12-5 > .inner, .full-width > div .region.grid12-6 > .inner, .full-width > div .region.grid12-7 > .inner, .full-width > div .region.grid12-8 > .inner, .full-width > div .region.grid12-9 > .inner, .full-width > div .region.grid12-10 > .inner, .full-width > div .region.grid12-11 > .inner {
margin:0 10px;
}

.last {
margin-right: 0px;
}

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}


/* Smaller screens */

@media only screen and (max-width: 1023px) {

	body {
	font-size: 0.8em;
	line-height: 1.5em;
	}
	
	}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {

	body {
	font-size: 16px;
	-webkit-text-size-adjust: none;
	}
	
	.full-width > div, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}
	
	.full-width > div .region.grid12-1, .full-width > div .region.grid12-2, .full-width > div .region.grid12-3, .full-width > div .region.grid12-4, .full-width > div .region.grid12-5, .full-width > div .region.grid12-6, .full-width > div .region.grid12-7, .full-width > div .region.grid12-8, .full-width > div .region.grid12-9, .full-width > div .region.grid12-10, .full-width > div .region.grid12-11, .full-width > div .region.grid12-12 {
	width: auto;
	float: none;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	}

}